* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #181d23;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.panel {
  height: 100rem;
  width: 160rem;
  margin: 5rem 3rem;
  border: 1px solid #4b5769;
  border-radius: 15px;
  overflow: hidden;
}

.panel-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #485769;
}

.date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  color: #fff;
}

.date-box .day {
  font-size: 2rem;
}

.date-box .time {
  font-size: 4rem;
  font-weight: bold;
}

.date-box .date {
  font-size: 1.8rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70rem;
}

.menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30%;
  width: 100%;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.menu a:hover {
  background-image: linear-gradient(160deg, rgba(0, 110, 255, 0.25) 0%, rgba(9, 255, 0, 0.25) 100%);
}

.menu-item i {
  font-size: 5rem;
  margin-bottom: 0.4em;
}

.menu-item p {
  font-size: 2rem;
  text-transform: uppercase;
}

.info-box h3 {
  font-size: 2rem;
}

.info-box p {
  font-size: 1.6rem;
}

.panel-right {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#37404c), to(#151a20));
  background-image: linear-gradient(180deg, #37404c 0%, #151a20 100%);
}

.panel-right .main-start-box {
  height: 140px;
  border-radius: 15px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.panel-right .main-start-box:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.panel-right h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2.4rem;
}

.post-history .btn {
  color: #ddd;
  border: 1px solid #dee2e6;
  background-color: #343a40;
}

.post-history .btn:hover {
  background-color: transparent;
}

.post-history table {
  background-color: transparent;
}

section .male .fas {
  -webkit-box-shadow: 0px 0px 9px 1px green;
          box-shadow: 0px 0px 9px 1px green;
}

section .female .fas {
  -webkit-box-shadow: 0px 0px 9px 1px blue;
          box-shadow: 0px 0px 9px 1px blue;
}

.dropdown .btn {
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
}
/*# sourceMappingURL=main.css.map */