* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #181d23;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.panel {
  height: 100rem;
  width: 160rem;
  margin: 5rem 3rem;
  border: 1px solid #4b5769;
  border-radius: 15px;
  overflow: hidden;
}

.panel-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #485769;
}

.date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  color: #fff;
}

.date-box .day {
  font-size: 2rem;
}

.date-box .time {
  font-size: 4rem;
  font-weight: bold;
}

.date-box .date {
  font-size: 1.8rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70rem;
}

.menu a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  width: 100%;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.menu a:hover {
  background-image: linear-gradient(160deg,
      rgba(0, 110, 255, 0.25) 0%,
      rgba(9, 255, 0, 0.25) 100%);
}

.menu-item i {
  font-size: 5rem;
  margin-bottom: 0.4em;
}

.menu-item p {
  font-size: 2rem;
  text-transform: uppercase;
}

.info-box h3 {
  font-size: 2rem;
}

.info-box p {
  font-size: 1.6rem;
}

.panel-right {
  background-image: linear-gradient(180deg,
      rgba(55, 64, 76, 1) 0%,
      rgba(21, 26, 32, 1) 100%);

  .main-start-box {
    height: 140px;
    border-radius: 15px;
    transition: background-color .3s;
  }

  .main-start-box:hover {
    background-color: rgba(255, 255, 255, .08);
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2.4rem;
  }
}

.post-history {
  .btn {
    color: #ddd;
    border: 1px solid #dee2e6;
    background-color: #343a40;
  }

  .btn:hover {
    background-color: transparent;
  }

  table{
    background-color: transparent;
  }
}

section{
  .male{
    .fas{
      text-shadow: 0px 0px 10px green;
    }
  }

  .female{
    .fas{
      text-shadow: 0px 0px 10px blue;
    }
  }
}

.dropdown{
  .btn{
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
  }

  .btn:hover{
    background-color: #343a40;
  }
}

.dropdown-item:hover{
  background-color: rgba(128, 128, 128, 0.7)
}

.text-logo-top{
  i{
    text-shadow: 0 0 10px #fff;
  }
}
